h1 {
    text-align: center;
    color: whitesmoke;
    font-family: courier;
    font-size: 250%;
}
h3 {
    text-align: center;
    color: whitesmoke;
    font-family: courier;
    font-size: 200%;
}
p {
    text-align: center;
    color: whitesmoke;
    font-family: courier;
    font-size: 150%;
}
textarea{
    resize: none;
    border: whitesmoke;
}
.top-section{
    background-color: #333333;
    display: grid;
    width: 100vw;
    height: fit-content;
}
.fp-img{
    width: 256px;
    height: 256px;
    border: black;
    border-style: solid;
    border-width: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption{
    text-align: center;
    color: whitesmoke;
    font-family: courier;
    font-size: 75%;
}
.art{
    width: 256px;
    height: 256px;
    border: black;
    border-style: solid;
    border-width: 8px;
}
.art-box {
    width: fit-content;
    height: fit-content;
    background-color:#333;
    border: whitesmoke;
    border-style: solid;
    border-width: 8px;
    padding: 8px;
    margin: 8px;
    float: left;
}
.drag-box{
    width: 136px;
    height: 168px;
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: black;
    border-style: solid;
    border-width: 4px;
    margin: 8px;
    padding: 4px;
}
.art-mini{
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black;
    border-style: solid;
    border-width: 4px;
    margin: 4px;
}
.button {
    font: bold 100% courier;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.grid-container{
    width: 90%;
    height: auto;
    display: grid;

    background-color:#333333;
    background-image: linear-gradient(whitesmoke 1px, transparent 0);
    border: whitesmoke;
    border-style: solid;
    border-width: 8px;
    padding: 8px;
    margin: 8px;
    justify-self: end;
}
.entire-board{
    display: grid;
    grid-template-columns: 136px auto;
    background-size: cover;
    background-color:#333333;
    border: whitesmoke;
    border-style: solid;
    border-width: 8px;
    padding: 8px;
}
body{
    background-color: #333333;
}
.NPC-gallery{
    display: grid;
    grid-auto-flow: row dense;
    gap: 24px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly; 
}
.PC-gallery{
    display: grid;
    grid-auto-flow: row dense;
    gap: 24px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
}
.dice-container{
    display: grid;
    width: 100vw;
    height: 200px;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.button-holder{
    display: grid;
    width: 100vw;
    height: fit-content;
}
.d-notusingrn{
    position: relative;
    top: 32px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-radius: 8px;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-bottom: 64px solid whitesmoke;
}
.d6{
    width: 64px;
    height: 64px;
    position: relative;
    margin: 8px;
    background-color: whitesmoke;
    border: whitesmoke;
    border-style: solid;
    border-radius: 8px;
    border-width: 8px;
}
.d20-face{
    display: flex;
    position: relative;
    justify-content: center;
    top: 32px;
    width: 0px;
    height: 0px;
    border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-bottom: 64px solid whitesmoke;
    translate: -32px;
}
.d20-rect{
    display: flex;
    width: 96px;
    height: 64px;
    background: #717171;
    position: relative;
  }
.d20-toptri{
    position: relative;
    top: -32px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-bottom: 32px solid red;
}
.d20-bottri{
    position: relative;
    top: 32px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-bottom: 32px solid red;
    transform: rotate(180deg);
    translate: -48px;
}
.numbers{
    width: 64px;
    line-height: 64px;
    font-size: 100%;
    font-weight: bold;
    color: #333333;
    position: relative;
}
.btn-roll-dice{
    width: 48px;
    margin: 8px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.d4{
    /*need to learn from this example code how to use variables and math to generate more dice shapes */
    --r:8px; /* border radius */
    width: 96px;
    aspect-ratio: 1/cos(30deg);
    --_g:calc(tan(60deg)*var(--r)) bottom var(--r),#000 98%,#0000 101%;
    -webkit-mask:
      conic-gradient(from -30deg at 50% calc(200% - 3*var(--r)/2),#000 60deg,#0000 0)
       0 100%/100% calc(100% - 3*var(--r)/2) no-repeat,
      radial-gradient(var(--r) at 50% calc(2*var(--r)),#000 98%,#0000 101%),
      radial-gradient(var(--r) at left  var(--_g)),
      radial-gradient(var(--r) at right var(--_g));
    clip-path: polygon(50% 0,100% 100%,0 100%);
    background: whitesmoke;
  }
.d12-face{
    position: relative;
    left: 16px;
    width: 64px; /* adjust to control the size */
    aspect-ratio: 1;
    clip-path: polygon(79.39% 90.45%,20.61% 90.45%,2.45% 34.55%,50% 0%,97.55% 34.55%);
    background-color: whitesmoke;
}
.d12-body{
    width: 96px; /* adjust to control the size */
    aspect-ratio: 1;
    clip-path: polygon(97.25% 66.34%,78.62% 91%,49.06% 99.99%,19.85% 89.89%,2.16% 64.55%,2.75% 33.66%,21.38% 9%,50.94% 0.01%,80.15% 10.11%,97.84% 35.45%);
    background: #717171;
}

/* what i'm using for the shapes: https://css-generators.com/polygon-shape/   */