h1 {
    text-align: center;
    color: whitesmoke;
    font-family: courier;
    font-size: 250%;
}
h3 {
    text-align: center;
    color: whitesmoke;
    font-family: courier;
    font-size: 200%;
}
p {
    text-align: center;
    color: whitesmoke;
    font-family: courier;
    font-size: 150%;
}
.top-section{
    background-color: #333333;
    display: grid;
    width: 100vw;
    height: fit-content;
}
.fp-img{
    width: 256px;
    height: 256px;
    border: black;
    border-style: solid;
    border-width: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption{
    text-align: center;
    color: whitesmoke;
    font-family: courier;
    font-size: 75%;
}
.art{
    width: 256px;
    height: 256px;
    border: black;
    border-style: solid;
    border-width: 8px;
}
.art-box {
    width: fit-content;
    height: fit-content;
    background-color:#333;
    border: whitesmoke;
    border-style: solid;
    border-width: 8px;
    padding: 8px;
    margin: 8px;
    float: left;
}
.drag-box{
    width: 136px;
    height: 164px;
    display: grid;
    border: black;
    border-style: solid;
    border-width: 8px;
    margin: 8px;
    padding: 6px;
}
.art-mini{
    width: 128px;
    height: 128px;
    border: black;
    border-style: solid;
    border-width: 4px;
    padding: 4px;
    margin: 4px;
}
.button {
    font: bold 100% courier;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.grid-container{
    width: max-content;
    height: auto;
    display: grid;
    border: whitesmoke;
    border-style: solid;
    border-width: 8px;
    padding: 8px;
    margin: 8px;
    background-image: linear-gradient(whitesmoke 1px, transparent 0);
    float: right;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    background-color:#333333;
}
.entire-board{
    display: grid;
    grid-template-columns: auto auto;
    background-size: cover;
    background-color:#333333;
    border: whitesmoke;
    border-style: solid;
    border-width: 8px;
    padding: 8px;
}
body {
    background-color: #333333;
}
.NPC-gallery {
    display: grid;
    grid-auto-flow: row dense;
    gap: 24px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly; 
}
.PC-gallery{
    display: grid;
    grid-auto-flow: row dense;
    gap: 24px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
}
.dice-container{
    display: grid;
    width: 100vw;
    height: fit-content;
}
.dice{
    width: 64px;
    height: 64px;
    position: relative;
    margin: 8px;
    background-color: whitesmoke;
    border: whitesmoke;
    border-style: solid;
    border-radius: 8px;
    border-width: 8px;
}
.dice-dot{
    --top: 0%;
    --left: 0%;

    width: 16 px;
    height: 16px;
    background-color:#333333;
    border-radius: 50%;
    /* dot positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.btn-roll-dice{
    width: 48px;
    margin: 8px;
    align-items: center;
}